$loader-background: #edeef0;
$loader-progress: #447bba;
$loader-progress-error: #ba4444;

.vk_audio__bar_outer {
    transition-property: transform, opacity;
    transition-duration: .2s, .3s;
    opacity: 1;
    transform: scaleX(1);
    transform-origin: center;
    height: 2px;
    position: absolute;
    width: calc(100% - 16px);
    left: 4px;
    background-color: $loader-background;
}

.vk_audio__bar_outer.in {
    opacity: 0;
}

.vk_audio__bar_outer.out {
    opacity: 0;
    transform: scaleX(0);
}

.vk_audio__bar_inner {
    height: 2px;
    width: 0;
    transition: width .3s;
    background-color: $loader-progress;
}

@keyframes shake {
    30% {
        transform: translate(-9px, -7px);
    }

    50% {
        transform: translate(7px, 5px);
    }

    65% {
        transform: translate(-5px, 4px);
    }

    80% {
        transform: translate(3px, 1px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}

.vk_audio__error {
    animation: shake .3s normal;
}

.vk_audio__error .vk_audio__bar_inner {
    transition-property: color, width;
    transition-duration: .3s;
    background-color: $loader-progress-error;
}