$loader-background: #edeef0;
$loader-progress: #447bba;

.vk_audio__bar_outer {
    transition: opacity .2s;
    height: 2px;
    position: absolute;
    width: calc(100% - 16px);
    left: 4px;
    opacity: 1;
    background-color: $loader-background;
}

.vk_audio__bar_outer.hidden {
    opacity: 0;
}

.vk_audio__bar_inner {
    height: 2px;
    width: 0;
    transition: width .2s;
    background-color: $loader-progress;
}

.vk_audio__loading {
    transition: height .2s;
}